<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Cho đường dẫn API-->
    <add name="APIHost" connectionString="http://192.168.2.31:3108"/>
    <!--Tên của client-->
    <add name="MachineName" connectionString="Tablet 1" />
    <!--Lọc kích thước và hiển thị sau dấu thập phân-->
    <add name="Filter" connectionString="" />
    <!--Số lượng hiển thị của biểu đồ-->
    <add name="ChartNumber" connectionString="35" />
    <!--Giới hạn % nhập kết quả-->
    <add name="Deviation" connectionString="5" />
    <!--Cho cập nhập phiên bản phần mềm-->
    <add name="DirUpdate" connectionString="\\5SQA-SERVER\5SQA_UPDATES" />
    <!--Khoảng thời gian bắt đầu lấy mẫu (07:00-08:00)-->
    <add name="TimeSample" connectionString="07:00-08:00" />
  </connectionStrings>
</configuration>